<!DOCTYPE html>
<html>
<head>
<title>stal.about</title>
<link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
</head>
<body>
<main id="about">
<h1> </h1>
<h1>about the men behind stal.mid</h1>
<h2>
    <a href="home.html">home</a> &middot;
    about &middot;
    updates
</h2>
<img src="img/colorbar.gif" alt="colorbar">
<h2> </h2>
<img src="img/about/donovan.png" alt="donovan">
<div>
    The creator of everything related to stal.mid.
    <br>Likes long walks on the beach, religion, and history.
    <br>Pretty cool guy.
</div>
<h2> </h2>
<img src="img/about/ethan.png" alt="ethan">
<div>
    The most basedest and redpilled person in the server.
    <br>Loves physics, philosophy, video games, anime, manga, music.
    <br>Just so based that no human could comprehend his awesomeness.
    <br>*Mic drop*
</div>
<h2> </h2>
<img src="img/about/kyle.png" alt="kyle">
<div>
    Loves Persona, Sonic music, and absolutely despises David Lee roth, unlike Donovan.
    <br>Literally is THE funny joke.
    <br>Will make you scream with laughter.
</div>
<h2> </h2>
<img src="img/about/shylin.png" alt="shylin">
<div>
    The most flamboyant, if not THE flamboyant person in the community.
    <br>Horny beyond belief 24/7.
    <br>Loves video games. Like. Actually.
    <br>Will kick your ass in Super Smash Bros. Ultimate.
    <br>Mod in 3 Twitch streams.
</div>
<h2> </h2>
<img src="img/about/angel.png" alt="angel">
<div>
    Loose cannon, do not mess with.
    <br>Man will ruin your life in an INSTANT.
    <br>Otherwise a loveable man, very passionate about a lot.
    <br>...a lot meaning Metallica and playing guitar.
</div>
<h2> </h2>
<img src="img/about/max.png" alt="max">
<div>
    Worst person to ever come across.
    <br>Man will destroy anyone if he feels like it.
    <br>Extremely short, yet extremely buff.
    <br>Can't you tell by his image? He's a LUNATIC.
</div>
<h2> </h2>
<img src="img/about/samuel.png" alt="samuel">
<div>
    "Oh-ho-ho... You're not tech-pilled like me?"
    <br>Proceeds to suplex you into the ground with immense force.
    <br>"Next time you'll learn to use Linux..."
    <br>He menacingly states shortly before literally killing you.
</div>
<h2> </h2>
<img src="img/about/leon.png" alt="leon">
<div>
    This guy's cool.
    <br>Asks a lot of questions for everything however.
    <br>Will any of them be answered?
    <br>Who knows...
</div>
<h2> </h2>
<img src="img/about/chuckles.png" alt="chuckles">
<div>
    Dude loves TOOL, and looks just like Kurt Cobain.
    <br>What's not to love?
    <br>Exactly. Enough said.
</div>
<h2> </h2>
<img src="img/about/kurt.png" alt="kurt">
<div>
    Donovan's dad.
    <br>Loves women yet hates them at the same time.
    <br>Man just needs some beer and boobs, you know?
    <br>Loves metal and hates liberals.
</div>
</main>
</body>
</html>